* {
    background-color: rgb(215, 225, 228);
    box-sizing: border-box;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
  
}


nav {
    display: flex;
    background-color: rgb(180, 205, 212);
    justify-content: center;
}

nav button{
    padding: 3px;
    margin: 5px;
    border-color: black;
    border: 3px;
    border-style: solid;
    
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

#Bio {
    display: flex;
 }

#Bio #contentLeft {
    text-align: center;
    justify-content: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

#Bio #contentRight {
    margin-right: 12.5%;
    justify-content: center;
}

.GridContainer {
    display: grid;
    grid-template-columns: auto auto;
  padding: 10px;
}
.GridContainer div {
    
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}


table {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#AboutMe {
    font-size: large;
}

input[type=text], select, textarea {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#submitButton {
  background-color: #15b4c5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #1acadd;
}

#ContactMe {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

body {
    opacity: 0;
            animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
            to {
                opacity: 1;
            }
        }
